@use "./mixins" as *;
@use "./resets" as *;
@use "./typography" as *;
@use "./variables" as *;

// header & body background
header {
  padding: 1.5rem 2.5rem;
  background-color: #ffffff;
  @include flex-row;
  align-items: center;
  gap: 0.5rem;

  img {
    width: auto;
    height: 2rem;
  }
}

body {
  background-image: url("/assets/images/hearts-bg.svg");
}

h2 {
  @include flex-column;
  text-align: center;
  color: #575757;
}
