* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NunitoSans";
}

@font-face {
  font-family: "NunitoSans";
  src: url("/assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("/assets/fonts/alternative-fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/fonts/NunitoSans-Medium.woff2") format("woff2"), url("/assets/fonts/alternative-fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("/assets/fonts/alternative-fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
nav {
  padding: 1.5rem 2.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
nav img {
  width: auto;
  height: 2rem;
}

body {
  background-image: url("/assets/images/hearts-bg.svg");
}

.main-content {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.button-container {
  display: flex;
  gap: 2.5rem;
}

.button-fighting {
  font-weight: 700;
  color: #763b00;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background-color: #ffecd8;
  border: none;
}
.button-fighting img {
  width: 1.875rem;
  height: auto;
}

.button-fairy {
  font-weight: 700;
  color: #920092;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background-color: #ffeaff;
  border: none;
}
.button-fairy img {
  width: 1.875rem;
  height: auto;
}

.card-generator {
  width: 40rem;
  height: 25rem;
  padding: 2.5rem;
  background-color: #cd2f93;
  display: flex;
  justify-content: space-between;
}
.card-generator p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.card-generator .letter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-generator .letter__message {
  width: 15rem;
}
.card-generator .letter__address {
  width: 15rem;
}

.pokemon img {
  width: auto;
  max-height: 18.75rem;
}

.button-share {
  font-weight: 700;
  color: #2051bb;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background-color: #e8f3ff;
  border: none;
}
.button-share img {
  width: 1.875rem;
  height: auto;
  transform: scaleX(-1);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer-container__message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.team__member {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.5rem;
  background-color: #ffffff;
  font-weight: 700;
}
.team__member img {
  width: 1.125rem;
  height: auto;
}
.team__member a {
  color: #000000;
  text-decoration: none;
}
.team__member a:hover {
  text-decoration: underline;
}
.team__member .github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.375rem;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */