@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/resets" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// centering main content & margin
.main-content {
  margin: 4rem 0;
  @include flex-column;
  align-items: center;
  gap: 2.5rem;
}

// fighting or fairy type buttons

.button-container {
  display: flex;
  gap: 2.5rem;
}

.button-fighting {
  font-weight: 700;
  color: #763b00;
  padding: 0.5rem 1rem;
  @include flex-row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background-color: #ffecd8;
  border: none;

  img {
    width: 1.875rem;
    height: auto;
  }
}

.button-fairy {
  font-weight: 700;
  color: #920092;
  padding: 0.5rem 1rem;
  @include flex-row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background-color: #ffeaff;
  border: none;

  img {
    width: 1.875rem;
    height: auto;
  }
}

// card generator

.card-generator {
  width: 40rem;
  height: 25rem;
  padding: 2.5rem;
  background-color: #dd53aa;
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
  }

  .letter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__message {
      width: 15rem;
    }

    &__address {
      width: 15rem;
    }
  }
}

.pokemon {
  img {
    width: auto;
    max-height: 18.75rem;
  }
}

// share card button

.button-share {
  font-weight: 700;
  color: #2051bb;
  padding: 0.5rem 1rem;
  @include flex-row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background-color: #e8f3ff;
  border: none;

  img {
    width: 1.875rem;
    height: auto;
    transform: scaleX(-1);
  }
}

// footer

.footer-container {
  @include flex-column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;

  &__message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.team {
  @include flex-row;
  align-items: center;
  gap: 0.5rem;

  &__member {
    @include flex-row;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    border: 0.0625rem solid #e4e4e4;
    border-radius: 0.5rem;
    background-color: #ffffff;
    font-weight: 700;

    img {
      width: 1.125rem;
      height: auto;
    }

    a {
      color: #000000;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .github {
      @include flex-row;
      align-items: center;
      gap: 0.375rem;
      font-weight: 400;
    }
  }
}
